@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #7d2ae8;
}

.view-modal,
.popup {
    position: absolute;
    left: 50%;
    top: 50%;
}

button {
    border: 2px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.view-modal {
    padding: 10px 25px;
    font-size: 18px;
    color: #7d2ae8;
    transform: translate(-50%, -50%) scale(1.6);
}

.popup {
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 25px;
    border-radius: 15px;
    max-width: 380px;
    width: 100%;
    transform: translate(-50%, -50%) scale(1.6);
    /* popup exit */
    opacity: 0;
    pointer-events: none;
}

.popup :is(header, .icons, .field) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup header {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebedf9;
}

header span {
    font-size: 21px;
    font-weight: 600;
}

header .close,
.icons a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

header .close {
    height: 33px;
    width: 33px;
    color: #878787;
    background: #f2f3fb;
    cursor: pointer;
}

.popup .content {
    margin: 20px 0;
}

.content p {
    font-size: 16px;
}

.content .icon {
    margin: 15px 0 20px 0;
}

.icons a {
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.icons a:nth-child(1) {
    color: #1877f2;
    border-color: #b7d4fb;
}
.icons a:nth-child(1):hover {
    background-color: #1877f2;
}

.icons a:nth-child(2) {
    color: #46c1f6;
    border-color: #b6e7fc;
}
.icons a:nth-child(2):hover {
    background-color: #46c1f6;
}

.icons a:nth-child(3) {
    color: #e1306c;
    border-color: #f5bccf;
}
.icons a:nth-child(3):hover {
    background-color: #e1306c;
}

.icons a:nth-child(4) {
    color: #25d366;
    border-color: #bef4d2;
}
.icons a:nth-child(4):hover {
    background-color: #25d366;
}

.icons a:nth-child(5) {
    color: #0088cc;
    border-color: #b3e6ff;
}
.icons a:nth-child(5):hover {
    background-color: #0088cc;
}

.icons a:hover {
    color: #fff;
    border-color: transparent;
}

.icons a i {
    transition: transform 0.3s ease-in-out;
}

.icons a:hover i {
    transform: scale(1.2);
}

.content .field {
    margin: 12px 0 -5px 0;
    height: 45px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    padding: 0 5px;
}

.field i {
    width: 50px;
    text-align: center;
    font-size: 18px;
}

.field input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 15px;
}

.field button {
    padding: 5px 18px;
    color: #fff;
    background: #7d2ae8;
}
